{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.vue"],
            "options": {
                "printWidth": 80
            }
        },
        {
            "files": ["*.tf", "*.yaml", "*.yml", "*.sh"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
